# Credentials
config.json

# Logs
logs
*.log

# Modules
node_modules
*.local

# Editor directories and files
.vscode
.debug
.env
.prettierrc
.DS_Store
.idea
.dis

# lockfile
package-lock.json
nodemon.json